<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SystemService_Binding">
                    <security mode="Transport" />
                </binding>
                <binding name="SystemService_Binding1" />
                <binding name="Job_List_Binding">
                    <security mode="Transport" />
                </binding>
                <binding name="Job_List_Binding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ws01.westeurope.cloudapp.azure.com:7047/NAV/WS/SystemService"
                binding="basicHttpBinding" bindingConfiguration="SystemService_Binding"
                contract="NavSystemService.SystemService_Port" name="SystemService_Port" />
            <endpoint address="https://ws01.westeurope.cloudapp.azure.com:7047/NAV/WS/CRONUS%20AG/Page/Job_List"
                binding="basicHttpBinding" bindingConfiguration="Job_List_Binding"
                contract="NavJobListService.Job_List_Port" name="Job_List_Port" />
        </client>
    </system.serviceModel>
</configuration>